<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__.'/src')
    ->in(__DIR__.'/tests')
    ->notPath('OptionalRequired.php');

$config = TiMacDonald\styles($finder);

// need a new version for return types

$rules = $config->getRules();

$rules['void_return'] = false;
$rules['phpdoc_no_empty_return'] = false;

return $config->setRules($rules);
