name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  checks:
    runs-on: ubuntu-latest
    name: 'Check'
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-composer-

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.3'
          coverage: pcov
          tools: infection, pint, phpstan

      - name: Install dependencies
        run: composer install

      - name: Check platform requirements
        run: composer check-platform-reqs

      - name: Pint
        run: pint --test

      - name: Infection
        run: infection --show-mutations

      - name: PHPStan
        run: phpstan

  tests:
    runs-on: ubuntu-latest
    name: 'PHP ${{ matrix.php }} Illuminate ${{ matrix.illuminate }} PHPUnit ${{ matrix.phpunit }}'
    strategy:
      matrix:
        php: ['8.1', '8.2', '8.3']
        illuminate: ['10', '11']
        phpunit: ['10', '11']
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Get composer cache directory
        id: composer-cache
        run: echo "dir=$(composer config cache-files-dir)" >> $GITHUB_OUTPUT

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: ${{ steps.composer-cache.outputs.dir }}
          key: ${{ runner.os }}-php-${{ matrix.php }}-illuminate-${{ matrix.illuminate }}-phpunit-${{ matrix.phpunit }}-composer-${{ hashFiles('**/composer.json') }}
          restore-keys: ${{ runner.os }}-php-${{ matrix.php }}-illuminate-${{ matrix.illuminate }}-phpunit-${{ matrix.phpunit }}-composer-

      - name: Setup PHP
        uses: shivammathur/setup-php@v2
        with:
          php-version: ${{ matrix.php }}
          coverage: none

      - name: Install dependencies
        run: |
          composer require --no-update \
            illuminate/collections:^${{ matrix.illuminate }} \
            illuminate/contracts:^${{ matrix.illuminate }} \
            illuminate/log:^${{ matrix.illuminate }} \
            illuminate/support:^${{ matrix.illuminate }} \
            phpunit/phpunit:^${{ matrix.phpunit }}
            composer require --no-update --dev \
            illuminate/config:^${{ matrix.illuminate }} \
            illuminate/container:^${{ matrix.illuminate }}
          composer update

      - name: Configure PHPUnit
        run: "if [ -f './phpunit.${{ matrix.phpunit }}.xml' ]; then cp ./phpunit.${{ matrix.phpunit }}.xml ./phpunit.xml; fi"

      - name: PHPUnit
        run: ./vendor/bin/phpunit --do-not-cache-result
